
header {
    width: 100%;
    background-color: #000000;

    .wrapper {
        display: flex;
    max-width: 1573px;
    width: 100%;
    margin: auto;

        height: 55px;

        // position: absolute;
        // inset: 0;

        justify-content: space-between;
        align-items: center;

        padding: 0 150px;

        .logo {

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.2rem;
                font-weight: bold;
                color: #fff;
                width: 40px;
                height: 40px;

                .logo-wrapper {
                  margin: auto;
                  max-width: 16px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  img {
                    width: 100%;
                    max-height: 100%;
                  }
                }

            }
        }

        .nav-wrapper {
            display: flex;

            
            nav {
                margin-right: 100px;
            }
            ul {
                display: flex;
                list-style: none;

                align-items: center;

                li:not(:last-child) {
                    margin-right: 45px;
                }

                li > a {
                    color: #fff;
                }
            }

        }
    }
}
