
article.blog-post {
    background: #fff;
    color: #000;

    max-width: 850px;

    margin: 50px auto 70px 150px;
    padding: 50px;

    .image {
        margin-bottom: 20px;
        display: block;
        background: rgb(0, 0, 0);

        border-radius: 2px;

        width: 100%;
        height: 100%;
        display: block;

        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    time {
        display: block;
        margin-bottom: 20px;
    }

    .meta-data {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    .title {
        margin-bottom: 40px;
        font-size: 2.8em;
    }

    .main-hr {
        border: 0;
        height: 1px;
        background-color: #777;
        width: 40%;

        margin-bottom: 30px;
    }

    .wrapper {
        line-height: 1.6;
        p {
          margin-bottom: 15px;
        }
    }

    @media only screen and (max-width: 1200px) {
      margin: 30px auto 70px 70px;
      padding: 35px;
    }

    @media only screen and (max-width: 768px) {
      margin: 30px 45px 70px 45px;
      padding: 25px;
    }

    @media only screen and (max-width: 420px) {
      margin: 0;
      padding: 50px 25px 70px;
    }
}
